.btn {
  border: 1px solid #00a991;
  border-radius: 8px;
  padding: 0.95rem 1.65rem;
  font-size: 13px;
  letter-spacing: -0.3px;
  font-family: "Space Grotesk", sans-serif;
  cursor: pointer;
}
.outline {
  background: transparent;
  color: #00a991;
}
.filled {
  background: #00a991;
  color: #fff;
}
