.btn {
  border: 1px solid #25ad78;
  border-radius: 8px;
  font-family: "Circular Std", sans-serif;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.outline {
  background: transparent;
  color: #25ad78;
}
.filled {
  background: #25ad78;
  color: #fff;
}
.icon {
  margin-left: 10px;
  width: 22px;
}
.large {
  font-size: 18px;
  padding: 1rem 2.8rem;
}
.small {
  font-size: 14px;
  padding: 1rem 2rem;
}

@media screen and (max-width: 1000px) {
  .large {
    font-size: 16px;
    padding: 1rem 2rem;
  }
}

@media screen and (max-width: 600px) {
  .large {
    font-size: 15px;
  }
}
