.heroBg {
  background-image: url("../../assets/images/heroBg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.heroContainer {
  padding-bottom: 6rem;
  padding-top: 3rem;
  color: #fff;
}
.logo {
  width: 90px;
}
.ttl {
  margin-top: 10.8rem;
  font-size: 4.35rem;
  font-weight: 900;
  margin-bottom: 1rem;
  max-width: 800px;
}
.txtWrap {
  max-width: 490px;
  line-height: 1.8;
  letter-spacing: 0.3px;
  font-size: 16px;
  margin-bottom: 2.6rem;
}
.txtWrap p {
  margin-bottom: 8px;
}
.getToKnow {
  display: flex;
  align-items: center;
  margin-top: 3rem;
  line-height: 1;
  font-size: 15px;
  cursor: pointer;
}
.getToKnow svg {
  margin-right: 12px;
  width: 28px;
}
