*,
*::after,
*::before {
  box-sizing: border-box;
  transition: 0.3s;
  padding: 0;
  margin: 0;
}

/* Metropolis */
@font-face {
  font-family: "Metropolis";
  font-weight: 100;
  font-display: swap;
  src: url("assets/fonts/Metropolis-Thin.otf") format("opentype");
}
@font-face {
  font-family: "Metropolis";
  font-weight: 200;
  font-display: swap;
  src: url("assets/fonts/Metropolis-ExtraLight.otf") format("opentype");
}
@font-face {
  font-family: "Metropolis";
  font-weight: 300;
  font-display: swap;
  src: url("assets/fonts/Metropolis-Light.otf") format("opentype");
}
@font-face {
  font-family: "Metropolis";
  font-weight: 400;
  font-display: swap;
  src: url("assets/fonts/Metropolis-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Metropolis";
  font-weight: 500;
  font-display: swap;
  src: url("assets/fonts/Metropolis-Medium.otf") format("opentype");
}
@font-face {
  font-family: "Metropolis";
  font-weight: 600;
  font-display: swap;
  src: url("assets/fonts/Metropolis-SemiBold.otf") format("opentype");
}
@font-face {
  font-family: "Metropolis";
  font-weight: 700;
  font-display: swap;
  src: url("assets/fonts/Metropolis-Bold.otf") format("opentype");
}
@font-face {
  font-family: "Metropolis";
  font-weight: 800;
  font-display: swap;
  src: url("assets/fonts/Metropolis-ExtraBold.otf") format("opentype");
}
@font-face {
  font-family: "Metropolis";
  font-weight: 900;
  font-display: swap;
  src: url("assets/fonts/Metropolis-Black.otf") format("opentype");
}

img {
  width: 100%;
  height: auto
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Metropolis";
  font-size: 16px;
  font-weight: 400;
  color: #444444;
  background-color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #00a991;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #00a991;
}

.siteWrapper {
  max-width: 1300px;
  margin: auto;
  padding: 0 4%;
  background-color: #fff;
}

@media screen and (max-width: 1300px) {
  .siteWrapper {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media screen and (max-width: 800px) {
  .siteWrapper {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media screen and (max-width: 800px) {
  .siteWrapper {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}